*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.125rem;
    margin:0;
    padding:0;
    height: 100%;
    text-align: center;
}
h1,h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}
h3 {
    font-size: 1.250rem;
}

.container {
    width: 1050px;
    max-width: 90%;
    margin:0 auto;
    text-align: center;
}

.btn {
    padding: 1em 2em;
    border:none;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
hr {
    max-width: 70px;
    border:none;
    border-width: 3px;
    margin:0 auto;
}
/*===== Typography =====*/
/* Header */
header {
    color:#fff;
    text-align: center;
}
.signature {
    width: 100%;
    max-width: 250px;
}
.intro-hr {
    border-bottom: 3px solid rgba(214, 116, 25, 0.89);
}
/* Navigation */
nav li {
    margin-bottom: 1em;
}
.nav-link {
    color:rgb(180, 180, 180);
    width: 100%;
}
.nav-link:hover,
.nav-link:focus {
    color:rgb(240, 233, 233)
}


/* Introduction */
.intro-title {
    margin:1em 0;
    font-size: 2rem;
}
.intro-text {
    margin:1em 0;
    color:rgba(255, 255, 255, 0.75);
}
.intro-btn {
    background-color: rgb(206, 70, 36);
}

/* About me Section */
#about-me {
    color:rgb(238, 232, 232);
}
.about-title {
    margin:0  0 1em;
    font-size: 1.75rem;
}
.about-text {
    margin:2em auto 0;
    color:rgba(240, 231, 231, 0.75);
}
.about-hr {
    border-bottom: 3px solid rgba(241, 240, 238, 0.89);
}
.about-btn {
    background-color: white;
    color:rgb(53, 53, 53);
    margin-top: 3em;
    border-radius: 100%;
    box-shadow: 0px 2px 5px rgb(224, 224, 224);
    padding:1em;
}
.arrow-down {
    color:rgb(206, 70, 36);
}

/* Skills */
#skills {
    color:#4d3a2f;
    font-weight: 500;
}
.skill-img {
    width: 128px;
}

.skills-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.skill-title {
    font-size: 1.250rem;
}
/* =====Layout===== */

/* Header */
header {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-bottom: calc(10rem - 4.5rem);
    height: 100vh;
}
.container-header {
    margin-top: 5em;
}
/* Navigation */
nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: rgba(53, 48, 47,1);   
}
body {
    overflow-x: hidden;
}
nav ul {
    display: flex;
    width: 100%;
    height: 90vh;
    position: absolute;
    left:0;
    top:3rem;
    background-color: rgba(53, 48, 47,0.9);  
    transform: translateX(-100%);
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 2em;
    transition: transform 0.5s ease;
}
nav li {
    list-style: none;
}
ul a {
    text-decoration: none;
}
.active {
    transform: translateX(0);
}
.toggle-button {
    position: absolute;
    left:0.6em;
    top:0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50px;
    height: 50px;
    transition: all .5s ease-in-out;
    border:1px solid white;
    border-radius: 3px;
}
.bar {
    height: 3px;
    width: 70%;
    margin-left: 6px;
    background-color: white;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.bar::before,
.bar::after {
    content: '';
    position: absolute;
    left:6px;
    width:70%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.bar::before {
    transform: translateY(-10px);
}
.bar::after {
    transform: translateY(10px);
}
/* ANIMATION */
.open .bar {
    transform: translateX(-10px);
    background: transparent;
}
.open .bar::before {
    transform: rotate(45deg) translate(7px,-7px);
}
.open .bar::after {
    transform: rotate(-45deg) translate(7px,7px);
}
.lock-scroll {
    overflow: hidden;
}
@media (min-width:675px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul {
        flex-direction: row;
        justify-content: center;
        position: static;
        background-color: transparent;
        width: 50%;
        height: auto;
        padding:0;
        transform: none;
        transition: none;
    }
    ul li {
        margin: auto 0;
        margin-right: 2em;
    }
    .intro {
        padding:2em;
        padding-bottom: 3em;
    }
    .intro-title {
        font-size: 3rem;
    }
    .intro-text {
        font-size: 1.5rem;
    }
    .intro div {
        margin:3em 0 0 0;
    }
    .intro-btn {
        font-size: 1.5rem;
        margin:2em 0;
    }
    
    .toggle-button {
        display: none;
    }
}

/* About me */
#about-me {
    background-color:rgb(206, 70, 36);
    padding:5em 2em;
}
@media (min-width:675px) {
    .about-text {
        width:70%;
    }
}


/* Skills */
#skills {
    padding: 2em 1em;
}
.container-skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3em;
}

.skill {
    margin:1.5em;
}

@media (min-width:675px) {
    .container-skills {
        flex-direction: row;
        justify-content: space-around;
    }
}